<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be Travel - Seu blog de viagens</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('categories.new') }}">Cadastrar categoria</a></li>
      <li><a href="{{ url_for('posts.new') }}">Cadastrar postagem</a></li>
    </ul>
  </nav>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in  messages %}
        <p>{{ message }} </p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>