<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Be Travel - Seu blog de viagens</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='paper.min.css') }}">
</head>

<body>
  {% include 'shared/menu.html' %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in  messages %}
        <p>{{ message }} </p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <main>
    {% block content %} {% endblock %}
  </main>

  {% include 'shared/footer.html' %}
</body>

</html>