{% extends 'shared/layouts.html' %}


{% block content %}

<div class="container container-lg">
  <h1>Viagens</h1>
</div>

{% if posts %}
<section class="section margin-top-large">
  <div class="container container-lg">
    <div class="row">
      {% for post in posts %}
        <div class="col-fill col text-center">
          <a href="{{ url_for('posts.show', id=post.id) }}" class="text-primary">
            {% if post.image %}
              <img src=" {{ url_for('medias.upload', name=post.image ) }} " class="margin-bottom-large" alt=" {{ post.title }} ">
            {% endif %}
            {{ post.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% else %}
  <h1>Nenhum post cadastrado</h1>
{% endif %}

{% endblock %}