{% extends 'shared/layouts.html' %}

{% block content %}
<section class="section margin-top-large">
  <div class="container container-lg">
    <div class="text-primary">
      {% if post.image %}
        <img src=" {{ url_for('media.upload', name=post.image ) }} " alt=" {{ post.title }} ">
      {% endif %}
      <h4 class="text-left">
        {{ post.title }} | 
        Categoria: <small><strong>{{ post.category.name }}</strong> </small>
      </h4> 
      <p> {{ post.text }} </p>
    </div>
  </div>
</section>

{% endblock %}
