{% extends 'shared/layouts.html' %}


{% block content %}

<section class="section margin-top-large">
  <div class="container container-lg">
    <form action="{{ url_for('categories.create') }}" method="post">
      {{ form.csrf_token }}
      <fieldset>
        <legend>Cadastro de categoria</legend>
        <div class="row">
          <div class="col sm-12">
            <div class="form-group">
              <label for="name">Nome</label>
              {{ form.name(class_="input-block") }}
            </div>
          </div>
          <div class="col sm-12">
            <div class="form-group text-right ">
              {{ form.submit(class_="paper-btn btn-success") }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>


{% endblock %}